{% extends 'mainapp/base.html'%}


{% block morestatics %}
<link href="/static/assets/dist/css/form-validation.css" rel="stylesheet">
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>
{% endblock %}

{% block main %}
    <div id="chart_div" style="width:100%;"></div> 
    <hr>
    <div id="piechart_3d" style="width:100%;"></div>
{% endblock %}


{% block extrajs %}
  <script src="/static/assets/dist/js/bootstrap.bundle.min.js.map"></script>
  <script src="/static/assets/dist/js/form-validation.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>

$( function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      minDate: -10,
    });
  } );


</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Weeks', 'Cuotas', 'Pagos','Egresos'],
      {% for w in weeks %}
      ['Sem.{{w.week}}',  {{w.cuotas_total.monto__sum}},{{w.pagos_total.total_pagado__sum}},2500],
      {% endfor %}
    ]);

    var options = {
      title: '',
      hAxis: {title: 'Ciclo Escolar',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Alumnos por grado'],
      {% for alumno in alumnos %}
      ['{{alumno.grado}}',{{alumno.dcount}}],
      {% endfor %}
    ]);

    var options = {
      title: '',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>

{% endblock %}
