{% extends 'mainapp/base.html'%}


{% block morestatics %}
<link href="/static/assets/dist/css/form-validation.css" rel="stylesheet">

{% endblock %}

{% block main %}
<div ng-controller="pagoCtr">
    <div class="py-5 text-center">
      <h2>Hola, Bienvenido </h2>
      <p class="lead">
          {{alumno.nombre}} {{alumno.apellidos}}
          <br>
          {{alumno.grado}}
      </p>
    </div>
    <h4 style="text-align: center;">Semana {{week.week}} {{week.inicio}} al {{week.fin}}</h4>
    <hr class="my-4">

    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        {% if pagos %}
        {% include 'mainapp/pagos.html'%}
        {% else %}
        <form class="needs-validation" novalidate  method="post" action="/">
          {% csrf_token %}
          <div class="row g-3">
            {% for f in fields %}
            <div class="col-sm-{{f.size}}">
              <label for="firstName" class="form-label">{{f.label}}</label>
              {% if 'input' in f.type %}
              <input type="text" class="form-control"
                     placeholder="{{f.ph}}" 
                     value="{{f.preload}}"
                     name="{{f.name}}" {{f.required}}>

              {% elif 'select' in f.type %}
                <select name="{{f.name}}" class="form-control" {{f.required}}>
                  {% for o in f.options %}
                    <option value="{{o.0}}">{{o.1}}</option>
                  {% endfor %}
                </select>
              {% endif %}
              <div class="invalid-feedback">
                Dato requerido
              </div>
            </div>
            {% endfor %}
            <hr class="my-4">
          <button class="w-50 btn btn-primary btn-lg" type="submit">Continue</button>
        </form>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    var myapp = angular.module('mainApp',['ngRoute']);
    var customInterpolationApp = angular.module('customInterpolationApp', []);
    myapp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('||');
        $interpolateProvider.endSymbol('||');

    });
    myapp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';        
    }]);

</script>


  <script src="/static/mainapp/js/home.js"></script>
{% endblock %}
