

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for p in pagos %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Semana {{p.week}}</h4>
              del {{p.inicio}} al {{p.fin}}
            </div>
            <div class="card-body" style="text-align: left !important;">
              <ul class="list-unstyled mt-3 mb-4">
                {% if not p.cuotas %}
                  <li>Tus pagos estan al corriente</li>
                {% endif %}
                {% for c in p.cuotas %}
                <li {% if c.pagado %}style="text-decoration:line-through"{% endif %}>
                  {% if not c.pagado %}
                  <input 
                        id="c_{{c.id}}"
                        type="checkbox" 
                        name="cuota" 
                        value="{{c.id}}" 
                        quota="{{c.nuevomonto}}" 
                        ng-click="addPago('{{c.id}}', '{{c.name}} semana {{c.week.week}}','{{c.nuevomonto}}','{{recargos}}')">
                  {% endif %}
                  <label>{{c.name}}</label>
                  {% if c.nuevomonto > c.monto %}
                    <b>${{c.nuevomonto}}</b>
                    <b style="text-decoration: line-through;">${{c.monto}}</b>
                    <br>
                    <i><sub>Este pago presenta retardos y se agrega un monto de {{c.recargo}} semanal</sub></i>
                    <br>
                  {% else %}
                  ${{c.nuevomonto}} 
                  {% endif %}
                  {% if c.pagado %}
                    <label>&nbsp;Pagado</label>
                  {% endif %}
                  <br>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for p in productx %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{p.name}}</h4>
          </div>
          <div class="card-body" style="text-align: left !important;">
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <input 
                id="c_{{c.id}}"
                type="checkbox" 
                 name="producto" 
                 value="{{c.id}}" 
                 ng-click="addPago('{{p.id}}', '{{p.name}} ','{{p.monto}}')">

              </li>
              {{p.monto}}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="w-50 btn btn-primary btn-lg" type="submit">Continue</button>